*.war
*.ear
*.iml
*.class
*.idea
**/.classpath
**/.project
**/.settings/*
**/target/*
.project
*.sass-cache
target
.java-version
*.releaseBackup
release.properties

# Package Files #
*.jar
*.war
*.ear
*.iml
**/.DS_Store
